#map {
      height: 600px;
    }

.leaflet-tooltip.polygon-label {
  background-color: transparent;
  border: none;
  color: darkblue;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  transition: font-size 0.1s ease;
}
