#map {
      height: 600px;
    }

.leaflet-tooltip.polygon-label {
  background-color: transparent;
  border: none;
  color: darkblue;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
  transition: font-size 0.1s ease;
}

body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
    }
header{
      padding: 20px;
      margin: auto;
      min-height: 450px;
      background-image: url('blob:https://storymaps.arcgis.com/fcdef095-51bf-4066-a56c-a7628d2f30b5');
      background-size: cover;
    }
section, footer {
      padding: 20px;
      margin: auto;
    }
nav {
      background: #333;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
    }
nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
    }
.hero {
      background: #f4f4f4;
      text-align: center;
      padding: 50px 
      min-height: 450px;
    }
.projects {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
.project-card {
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 8px;
    }
footer {
      text-align: center;
      background: #f4f4f4;
      padding: 20px;
    }
.gridimg {
      max-height:15%;
      max-width:500px;
}








